{% extends "base.html" %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block style %}
{% load static %}
<link rel="stylesheet" href={% static "register.css" %}>    
{% endblock style %}

{% block content %}
<div class="register-container">
        <h2>Register</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>

            <button type="submit">Sign Up</button>
            <p class="login-text">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
{% endblock content %}